.westBox {
	
}

.centerBox {
	
}

.eastBox {
	font-size: 15px;
	font-family: "微软雅黑";
}

#pagePluginBox {
	margin-top: -15px;
}

.cursorClass {
	cursor: pointer;
}

.cursorClass:HOVER {
	background-color: #F4F0F0;
}

/*搜索样式begin*/
.searchResultBox {
	float: left;
	margin-left: 5px;
	width: 43px;
}

.thridBoxClass {
	width: 70px;
}

.searchResultBoxLast {
	float: right;
	margin-right: 10px
}

.headIcon {
	height: 40px;
	width: 40px;
	margin-left: 10px;
}

.areaP {
	margin-top: 10px;
}

.sumName {
	font-size: 12px;
}

.leavelImg {
	height: 32px;
	width: 32px;
}

/*搜索样式end*/
#gameList {
	margin-top: 30px;
}

.championIcon {
	/* height: 32px;
	width: 32px; */
	width: 45px;
	height: 45px;
}

.lolItemIcon {
	height: 27px;
	width: 20px;
	float: left;
	margin-left: 5px;
	margin-top: 13px;
}

.lolIHeadtemIcon {
	height: 37px;
	width: 30px;
}

.infoItem {
	float: left;
}

.userInfo {
	border: 2px gray solid;
	height: 270px;
	background: white;
}

.expBtnGroupItem {
	height: 40px;
	width: 40px;
	margin-left: 17px;
	margin-bottom: 10px;
	cursor: pointer;
}

.expBtnGroupItem:hover {
	border: 1px solid red;
}

.areaLeavel {
	float: left;
}

.zhaopaiHero {
	border: 2px gray solid;
	margin-top: 10px;
	background: white;
}

.zhaopaiItem {
	float: left;
	margin-left: 5px;
}

.recentBehave {
	border: 2px gray solid;
	margin-top: 10px;
	background: white;
}

.honorClass {
	float: left;
}

.honorItem {
	float: left;
	width: 50px;
}

.heroHonorImg {
	width: 40px;
	height: 40px;
}

.queryResultBottom {
	display: display;
}

.topAdvertise {
	background: url("http://ossweb-img.qq.com/upload/adw/image/201610/1475823677457378669.jpg");
	background-position:12px -42px;
	background-repeat:no-repeat;
	margin-top: 10px;
	height: 125px;
}

/*页面底部版权信息beign*/
.copyright {
	float: left;
	margin-left: 100px;
	position: relative;
	margin-top: 37px;
}

.copyright li {
	display: inline-block;
	margin-left: 5px
}

.copyright li .split-line {
	margin-left: 5px;
	color: #c8c8c8;
	font-size: 12px
}

.copyright-text {
	color: #666
}
/*页面底部版权信息end*/
.kitClass ul li {
	list-style: none;
	float: left;
	margin-left: 10px;
}

.kitClass ul li a {
	text-decoration: none;
}

.kitClass ul li a:hover {
	color: red;
}

/*游戏数据分页查询模块*/
.gamerQueryResult {
	font-size: 12px;
}

.lolGameDataHover {
	cursor: pointer;
}

.lolGameDataHover:HOVER {
	background-color: #F4F0F0;
}

.mvpIcon {
	width: 40px;
	height: 15px;
}

.rankChampionIcon {
	width: 45px;
	height: 45px;
	float: left;
}

#gameAreasBox ul li {
	list-style: none;
	float: left;
	margin-left: 25px;
}

.areaBtnClass {
	margin-top: 8px;
}

#freeChampionClass ul li {
	list-style: none;
	float: left;
	margin-left: 25px;
	margin-top: 25px;
}

.areaBtnClass {
	height: 100px;
	width: 100px;
}

/*英雄改动模块相关css*/
.skillItem {
	width: 35px;
	height: 35px;
	margin-top: 18px;
	background:url(http://ossweb-img.qq.com/images/lol/img/spell/Volley.png);
	background-size: 100%;
	float: left;
}

.skillItemKey {
	opacity: 0.7;
	margin-top: 19px;
	margin-left: 20px;
	width: 15px;
	height: 15px;
	background: black;
	color: orange;
	padding-top: 2px;
}

.skillLiClass {
	list-style: none;
	text-align: center;
}